<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Presence</title>
</head>
<body>

  <form action="/<%= classId %>/<%= batchId %>/<%= stdId %>/deleteStudent" method="POST">
    <button type="submit" class="btn btn-dark text-light" data-toggle="tooltip" data-placement="bottom" title="Delete Student">Button</button>

  </form>  
  
</body>
</html>