<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Attendance</title>
</head>
<body>
  <h1>Server Working HOME PAGE</h1>

  <button><a href="/login">LOGIN</a></button>
  <button><a href="/signup">SIGNUP</a></button>

</body>
</html>