<%- include('./partials/top.ejs') %>

<head>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
 <!-- NAVBAR -->
</head>
<body style="position:relative;"  data-spy="scroll " data-target=".navbar" data-offset="50">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <a class="navbar-brand mr-auto" href="#">Presence</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
      <a class="nav-link" href="#About"><i class="fa fa-star-o fa-xs " aria-hidden="true" style="color: white"></i> About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login"><i class="fa fa-sign-in fa-xs " aria-hidden="true" style="color: white"></i>
      Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/signup"><i class="fa fa-user fa-xs " aria-hidden="true" style="color: white"></i> Sign Up</a>
    </li>  
    <li class="nav-item">
      <a class="nav-link" href="#Contact"><i class="fa fa-phone fa-xs " aria-hidden="true" style="color: white"></i>  Contact</a>
    </li> 
    </ul>
  </div>  
</nav>
<br>


 <!-- HEADING ANIMATION-->
<div class="jumbotron jumbotron bg-cover">
    <div class="overlay"></div>
    <div class="container">
      <h1 style="font-size:7vw;font-family: lobster;text-align: justify;">Presence</h1>
      <p class="lead" style="font-size: 2.5vw; font-weight:medium;color: #333456;text-align: justify;">Attendance <span>Recorder</span></p>
      <br>
      <br>
      <br>


      <a href="/login" class="btn btn-info mybtn" role="button">Login</a>
        <a href="/signup" class="btn btn-info mybtn" role="button">SignUp</a>
    </div>
  </div>
  <br>
  <hr>



           
        
   


 <!-- ABOUT SECTION-->
 <div class="container">
<div id="About" class="container-fluid text-banner">
<h3 style="color:black;font-family: Courier New;text-align: left;font-size:3vw;letter-spacing: 0.05em;font-weight: bold;text-align: center;">ABOUT</h3>
<p style="color:black;font-family: Roboto;text-align: left;font-size:2vw;letter-spacing: 0.05em;font-weight:200;text-align: center;">This attendance management system is simple and user friendly. It is well equipped to handle attendance related task and  it has great features which make strenuous tasks hassle-free, like calculating attendance of every student.
Blending modern and traditional methods is the highlight of this website is to encourage customers to go paperless.
Especially made with an Indian teacher perspective in mind ,it is best suited for Indian teachers.
</p>
</div>
</div>
<br>
 <!-- FEATURE SECTION-->
 <section>
    <div class="container-fluid px-5">
      <div class="row">
        <div class="col-md-12">
          <div class="main-timeline" data-aos="zoom-in" data-aos-easing="linear" data-aos-delay="300">
            <div class="timeline" data-aos="fade-up" data-aos-easing="linear" data-aos-delay="600">
              <div class="timeline-content">
                <h6 class="center-align font-weight-bolder pt-1 text-center" style="font-size:30px">STEP 1: Sign Up </h6>
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <img src="/images/login.png" alt="" height="200" width="434"
                      class=" mt-2 w-100 mx-auto">
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-8 px-4"style="font-size:25px">
                    <p>Create your account by Signing-up.
                    Enter the required details and then you're good to go.
                    Your password is secure and privacy is our prior concern.  </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="timeline" data-aos="fade-up" data-aos-easing="linear" data-aos-delay="600">
              <div class="timeline-content">
                <h6 class="center-align font-weight-bolder pt-1 text-center" style="font-size:30px">STEP 2: Create New Batch/Class </h6>
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <img src="/images/batch.png" alt="" height="200" width="434"
                      class=" mt-2 w-100 mx-auto">
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-8 px-4" style="font-size:25px">
                    <p>Here, you can create the batch/class for your choice. 
                    and it offer some features by which you can add new students to the list and can remove them too.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="timeline" data-aos="fade-up" data-aos-easing="linear" data-aos-delay="600">
              <div class="timeline-content">
                <h6 class="center-align font-weight-bolder pt-1 text-center" style="font-size:30px">STEP 3: Mark the Attendance </h6>
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <img src="/images/attendance_list.png" alt="" height="200" width="434"
                      class=" mt-2 w-100 mx-auto">
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-8 px-4" style="font-size:25px">
                    <p>Mark Absent or Present and save it for later.
                    It allows to know the no. of days a students was present/absent. </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="timeline" data-aos="fade-up" data-aos-easing="linear" data-aos-delay="600">
              <div class="timeline-content">
                <h6 class="center-align font-weight-bolder pt-1 text-center" style="font-size:30px">STEP 4: Download Attendance</h6>
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <img src="/images/download.png" alt="" height="200" width="434"
                      class=" mt-2 w-100 mx-auto">
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-8 px-4" style="font-size:25px">
                    <p>You can easily download attendance and sent it to whereever you want to.  </p>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>
  <hr>
  <!--FEATURE SECTION ENDS-->


 <!-- CONTACT SECTION-->
 <div class="container">
<div id="Contact" class="container-fluid text-banner">
  <h3 style="color:black;font-family: Courier New;text-align: left;font-size:3vw;letter-spacing: 0.05em;font-weight: bold;text-align: center;">CONTACT</h3><br><br>
  <div class="row d-flex justify-content-md-around ">
  <div class="card col-sm-3 mt-2 mb-2">
    <div class="image">
      <img src="https://pbs.twimg.com/profile_images/1325504533024309249/atRtEvAR_400x400.jpg"/>
    </div>
    <div class="details">
      <div class="center">
        <h2 style="color: red;font-size: 2vw">EKJOT KAUR</h2>
        <p>FULL STACK DEVELOPER</p>
        <ul>
         <li><a href="https://twitter.com/EkjotKaurK13"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="https://github.com/EkjotKaur"><i class="fa fa-github" aria-hidden="true"></i></a></li>
          <li><a href="https://www.linkedin.com/in/ekjot-kaur-3211181a1/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  
  
  <div class="card col-sm-3 mt-2 mb-2">
    <div class="image">
      <img src="https://pbs.twimg.com/profile_images/1284764027088891904/P7NWsF5i_400x400.jpg">
    </div>
    <div class="details">
      <div class="center">
        <h1 style="color: red;font-size: 2vw">RISHIKA</h1>
        <P>FRONTEND DEVELOPER</P>
        
        <ul>
          <li><a href=" https://twitter.com/R_kanojiaaa?s=08"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="https://github.com/Rishikakanojia"><i class="fa fa-github" aria-hidden="true"></i></a></li>
          <li><a href="https://www.linkedin.com/in/rishika-kanojia-a613a8183"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      </div>
    </div>
  
  
  <div class="card col-sm-3 mt-2 mb-2">
    <div class="image">
      <img src="https://media-exp1.licdn.com/dms/image/C5603AQFH4xk-EvSiPw/profile-displayphoto-shrink_200_200/0?e=1611187200&v=beta&t=cVN7R1FpJBOk6EivLOOiAZmj8lRohhQdc9ji7Z5Nptg">
    </div>
    <div class="details">
      <div class="center">
        <h2 style="color: red;font-size: 2vw">BHAVYA SEHGAL</h2>
        <P>FRONTEND DEVELOPER</P>
        
        <ul>
          <li><a href="https://github.com/Bhavya-Sehgal"><i class="fa fa-github" aria-hidden="true"></i></a></li>
          <li><a href="https://www.linkedin.com/in/bhavya-sehgal-8914661a2"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
<br>
<hr>

<div class="footer text-center">
   Copyright &copy; 2020 &mdash; Code Her Things
</div>




  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>




</body>
</html>