<%- include('./partials/top.ejs') %>

  <!-- Bakki ka page -->
  <div class="signup-form">
    <form action="\login" method="POST" class="form-horizontal">
		<div class="col-xs-8 col-xs-offset-4">
			<h2>LOGIN</h2>
		</div>		
        <div class="form-group">
			<label class="control-label col-xs-4">Email</label>
			<div class="col-xs-8">
                <input type="text" name="username" id="" class="form-control" placeholder="Email Address" required="required">
            </div>        	
        </div>
		<div class="form-group">
			<label class="control-label col-xs-4">Password</label>
			<div class="col-xs-8">
                <input type="password" name="password" id="" class="form-control" placeholder="Password" required="required">
            </div>        	
        </div>
		<div class="form-group">
			<div class="col-xs-8 col-xs-offset-4">
				<button type="submit" class="btn btn-primary btn-lg">LOGIN</button>
			</div>  
		</div>		      
    </form>
	<div class="text-center">Don't have an account? <a href="/signup">Create One</a></div>
</div>
<div class="footer">
	Copyright &copy; 2020 &mdash; Code Her Things
</div>
</body>
</html>