<%- include('./partials/top.ejs') %>

  <h1>NEW STUDENT</h1>

  <form action="/newclass" method="POST">
    <input type="text" placeholder="name" name="stdname" > 
    <input type="text" placeholder="enrollment no" name="enrollno.">  
    <button type="submit">Submit</button>
  </form>

</body>
</html>