<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Attendance</title>
</head>
<body>
  <h1>SignUp</h1>

   <!-- Heading vagera ksi lgni chahiye vo -->

   <form action="\signup" method="POST">
    <!-- Idher sign up form bna -->
  </form>

  <!-- Bakki ka page -->
</body>
</html>