<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Attendance</title>
</head>
<body>
  <h1>SignUp</h1>

   <!-- Heading vagera ksi lgni chahiye vo -->

   <form action="\signup" method="POST">
    <input type="text" name="teacher" id="">
    <input type="email" name="email" id="">
    <input type="text" name="batch" id="">
    <input type="text" name="subject" id="">
    <input type="text" name="username" id="">
    <input type="password" name="password" id="">
    <button type="submit">SIGNUP</button>
  
  </form>

  <!-- Bakki ka page -->
</body>
</html>