<%- include('./partials/top.ejs') %>

  <h1>NEW CLASS</h1>

  <form action="/<%= presentClassId %>/<%= presentBatchId %>/updateClass" method="POST">
    <input type="text" placeholder="subject" name="subject"> 
    <button type="submit">Submit</button>
  </form>

</body>
</html>