.top-nav{
    background: #16a596 ;
    height: 60px;
    color:white;
    width:100% !important;
    box-shadow: 300px;
    position: fixed;
    top: 0;
    z-index:500;
}
body{
    background:white;
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
}
a,a:active,a:hover,a:link{
  text-decoration: none;
  color: black;
}
*{
  box-sizing: border-box;
}

#name{
  padding-bottom: 0%;
  font-weight: 200px;
  width:100%;
}
#mail{
  padding-bottom: 32px;
  width:100%;
}
.width{
  width:100%;
}
.box{
    text-align:center;
    margin-top:100px;
    margin-left:70px;
    padding: 10px;
    color:rgb(165, 159, 159);
}
#head{
  padding:10px;
  width:100% !important;
}
@media only screen and (max-width:425px){
  .top-nav{
    height: 80px;
    width:100%;
    position: absolute;
  }
  .box h1{
    font-size: 25px;
  }
  .sidebar{
    top:80px !important;
  }
}
.color-btn:hover{
    background:#16a596 ;
}
.icon{
  padding:10px;
}
.form-edit{
  font-size: 30px;
}
.popup{
  border: 10px solid #16a596;
}
/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    top:60px;
    width: 240px;
    background-color: #2b2727;
    position: fixed;
    height: 100%;
    overflow: auto;
    color:white;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color:white;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #595b5d;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color:#595b5d;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
  
    padding: 1px 16px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  .hide{
    display:none;
  }
  /* 
 .nav2{
   float:left;
   background:#2b2727;
   top:60px;
   position: fixed;
   width:100%;
   color:white;
   margin-left:22px;
   height:60px;
   padding:18px;
 } */