.navbar .navbar-expand-sm{
	padding: 5px;
	margin-bottom: 30px; 
	 
	
	
}
.navbar-nav .ml-auto{
	margin-left: auto !important;
	height: 60px;


}
.navbar-brand .mr-auto{
	margin-right: auto !important;	
	
}

.bg-cover {
      background: url('study.jpg') no-repeat center center;
      background-size: cover;
      padding-top: 20%;
      padding-bottom: 20%;   
}


.btn .btn-info .mybtn{
 display:inline-block;
 padding:0.35em 1.2em;
 border:0.1em solid #FFFFFF;
 margin:0 0.3em 0.3em 0;
 border-radius:1em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 color:white;
 text-align:center;
 transition: all 0.2s;

}
.btn .btn-info .mybtn:hover{
 color:#000000;
 background-color:#FFFFFF;
}
@media all and (max-width:30em){
 .btn .btn-info .mybtn{
  display:block;
  margin:0.4em auto;
 }
}
.

  #About {text-align:center; padding-top:50px;height:500px;color: #fff;width: 100%;}
  
  /* -----FEATURE SECTION----- */
.main-timeline {
  position: relative;
}

.main-timeline::before {
  content: "";
  background-color: #707070;
  opacity: 0.3;
  height: 100%;
  width: 2px;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: 0;
}

.main-timeline::after {
  content: "";
  display: block;
  clear: both;
}

.main-timeline .timeline {
  width: 50%;
  padding: 0 40px 0 0;
  margin: 0 5px 0 0;
  float: left;
  position: relative;
  z-index: 1;
}

.main-timeline .timeline::before,
.main-timeline .timeline::after {
  content: "";
  background-color: #707070;
  opacity: 0.2;
  height: 2px;
  width: 100px;
  transform: translateY(-50%);
  position: absolute;
  right: 0;
  top: 50%;
}

.main-timeline .timeline::after {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: none;
  right: -8px;
}

.main-timeline .timeline-content {
  box-shadow: 5px 5px 17px #9fa5a3, -5px -5px 17px #fff;
  background-color: #ecf0f3;
  border: 1px solid #ecf0f3;
  margin: 0 auto;
  border-radius: 20px;
  display: block;
  overflow: hidden;
  position: relative;
}

.main-timeline .timeline-content:hover {
  text-decoration: none;
}
.main-timeline .timeline-content::before,
.main-timeline .timeline-content::after {
  content: "";
  background-color: #ecf0f3;
  width: 0;
  position: absolute;
  right: -1px;
  top: 0;
  z-index: 1;
}

.main-timeline .timeline-content::after {
  background-color: #ecf0f3;
  transform: rotateX(180deg);
  z-index: 0;
}

.main-timeline .timeline:nth-child(even) {
  margin: 0 0 0 5px;
  padding: 0 0 0 40px;
  float: right;
}

.main-timeline .timeline:nth-child(even)::before {
  right: auto;
  left: 0;
}

.main-timeline .timeline:nth-child(even)::after {
  right: auto;
  left: -8px;
}

.main-timeline .timeline:nth-child(even) .timeline-content::before {
  right: auto;
  left: 0;
  transform: rotateY(180deg);
}

.main-timeline .timeline:nth-child(even) .timeline-content::after {
  right: auto;
  left: 0;
  transform: rotateY(-180deg) rotateX(180deg);
}
.main-timeline .timeline:nth-child(4n + 2) .timeline-content {
  background-color: #ecf0f3;
}
.main-timeline .timeline:nth-child(4n + 3) .timeline-content {
  background-color: #ecf0f3;
}
.main-timeline .timeline:nth-child(4n + 4) .timeline-content {
  background-color: #ecf0f3;
}
@media only screen and (max-width: 990px) {
  .main-timeline .timeline .timeline-content::before,
  .main-timeline .timeline .timeline-content::after {
    width: auto;
  }
  .main-timeline .timeline:nth-child(even) .timeline-icon {
    left: 12px;
  }
}
@media only screen and (max-width: 767px) {
  .main-timeline::before {
    transform: translateX(0);
    left: 0;
  }
  .main-timeline .timeline {
    width: 100%;
    padding: 0 0 0 20px;
    margin: 0 0 20px;
  }
  .main-timeline .timeline:nth-child(even) {
    padding: 0 0 0 20px;
    margin: 0 0 20px;
  }
  .main-timeline .timeline::before {
    right: auto;
    left: 0;
  }
  .main-timeline .timeline::after {
    right: auto;
    left: -8px;
  }
  .main-timeline .timeline .timeline-content {
    padding: 15px 15px 0px 0px;
    border-radius: 20px;
  }
  .main-timeline .timeline .timeline-content::before {
    width: 85px;
    right: auto;
    left: 0;
    transform: rotateY(180deg);
  }
  .main-timeline .timeline .timeline-content::after {
    width: 85px;
    right: auto;
    left: 0;
    transform: rotateY(180deg) rotateX(-180deg);
  }
}
  
  .Card{
  
    display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 15px;
	padding: 1.5%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

	
.card .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.card .image img {
    width: 100%;
    transition: .5s;
}
.card:hover .image img {
    opacity: .5;
    transform: translateX(30%);/*100%*/
}
.card .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;/*100%*/
    height: 100%;
    background: #ffc107;
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
}
.card:hover .details {
    transform: perspective(2000px) rotateY(0deg);
}
.card .details .center {
    padding: 20px;
    text-align: center;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.card .details .center h1 {
    margin: 0;
    padding: 0;
    color: #ff3636;
    line-height: 20px;
   
    text-transform: uppercase;
}

.card .details .center p {
	font-size: 1.5vw;
    margin: 10px 0;
    padding: 0;
    color: #262626;
}
.card .details .center ul {
    margin: 10px auto 0;
    padding: 0;
    display: table;
}
.card .details .center ul li {
    list-style: none;
    margin: 0 5px;
    float: left;
}
.card .details .center ul li a {
    display: block;
    background: #262626;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transform: .5s;
}
.card .details .center ul li a:hover {
    background: #ff3636;
}



    .form-control {
		border-color: #eee;
        min-height: 41px;
		box-shadow: none !important;
		
	}
    .form-control:focus {
		border-color: #5cd3b4;
	}
    .form-control, .btn {        
        border-radius: 3px;
    }
	.signup-form {
		width: 500px;
		margin: 0 auto;
		padding: 30px 0;
		float: none;
	}
    .signup-form h2 {
		color: #333;
        margin: 0 0 30px 0;
		display: inline-block;
		padding: 0 30px 10px 0;
		border-bottom: 3px solid #5cd3b4;
    }
    .signup-form form {
		color: #999;
		border-radius: 3px;
    	margin-bottom: 15px;
        background: #fff;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
	.signup-form .form-group {
		margin-bottom: 20px;
	}
	.signup-form label {
		font-weight: normal;
		font-size: 13px;
	}
    .signup-form input[type="checkbox"] {
		margin-top: 2px;
	}
    .signup-form .btn {        
        font-size: 16px;
        font-weight: bold;
		background: #5cd3b4;
		border: none;
		margin-top: 20px;
		min-width: 140px;
    }
	.signup-form .btn:hover, .signup-form .btn:focus {
		background: #41cba9;
        outline: none !important;
	}
    .signup-form a {
		color: #5cd3b4;
		text-decoration: underline;
	}
	.signup-form a:hover {
		text-decoration: none;
	}
    .signup-form form a {
		color: #5cd3b4;
		text-decoration: none;
	}	
	.signup-form form a:hover {
		text-decoration: underline;
	}

#footer{
  background-color: #212121;
  height: 90px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  line-height: 50px;
  color: #aaa;
  text-align: center;
  width: 100%;
}

<!---heading---->
  
  @media (max-width: 1020px) {
      .jumbotron h1 {
      font-size: 9em;
    }
  p {
      font-size: 4em;
    }
  }

 @media screen and (min-width: 992px){
    .jumbotron h1 {
      font-size: 6em;
    }
    p{
      font-size: 2em;
    }
  }

  @media screen and (max-width: 992px){
    .jumbotron h1 {
      font-size: 6em;
    }
    p{
      font-size: 2em;
    }
  }

  @media (max-width: 768px) {
    .jumbotron h1 {
      font-size: 3.5em;
    }
    p{
      font-size: 1.8em;
    }
  }
 
 <!-------about-------->

   @media (max-width: 1020px) {
      .myabout h3 {
      font-size: 8em;
    }
  p {
      font-size: 1.9em;
    }
  }

 @media screen and (min-width: 992px){
    .myabout h3 {
      font-size: 6em;
    }
    p{
      font-size: 1.7em;
    }
  }

  @media screen and (max-width: 992px){
    .myabout h3 {
      font-size: 6em;
    }
    p{
      font-size: 1em;
    }
  }

  @media (max-width: 768px) {
    .myabout h3 {
      font-size: 3.5em;
    }
    p{
      font-size: 1em;
    }
  }

 <!------feature------>


   @media (max-width: 1020px) {
      .main-timeline h6 {
      font-size: 4em;
    }
  p {
      font-size: 2em;
    }
  }

 @media screen and (min-width: 992px){
    .main-timeline h6{
      font-size: 2em;
    }
    p{
      font-size: 1.3em;
    }
  }

  @media screen and (max-width: 992px){
    .main-timeline h6 {
      font-size: 2em;
    }
    p{
      font-size: 1em;
    }
  }

  @media (max-width: 768px) {
    .main-timeline h6 {
      font-size: 1.5em;
    }
    p{
      font-size: 1em;
    }
  }
 
